:root {
  --bg-color: #111;
  --text-color: #fff;
  --accent-color: #ffd700;
  --card-bg: #222;
  --cookie-bg-start: #1b5e20;
  --cookie-bg-end: #2e7d32;
  --cookie-button-start: #43a047;
  --cookie-button-end: #388e3c;
  --cookie-text-color: #fff;
}

body.light-mode {
  --bg-color: #eaeaea;
  --text-color: #1a1a1a;
  --accent-color: #caa000;
  --card-bg: #fff;
  --cookie-bg-start: #5dcb6f;
  --cookie-bg-end: #46a850;
  --cookie-button-start: #46a850;
  --cookie-button-end: #2f8140;
  --cookie-text-color: #fff;
}
