:root {
  --bg-color: #111;
  --text-color: #fff;
  --accent-color: #ffd700;
  --card-bg: #222;
}

body.light-mode {
  --bg-color: #eaeaea;
  --text-color: #1a1a1a;
  --accent-color: #caa000;
  --card-bg: #fff;
}
